.bg-darkblue {
    /*background-color: rgb(15, 23, 42);*/
    /*background-color: rgb(211, 231, 239)*/
    background: linear-gradient(180deg, rgb(211, 231, 239) 0%, rgb(255, 255, 255) 100%);
}

.b-example-divider {
    background-color: red;
    border-color: red;
}

#hero_img {
    padding: 0px !important;
}

.hero-logo {
    width: 10%
}

.title-color {
    color: rgb(16, 180, 162)
}

.dark-text {
    color: rgb(15, 23, 42);
}


body {
    overflow-x: hidden;
}

.footer-image {
    height: 50px;
    width: auto;
}

.card-image {
    padding: 10%
}